<!DOCTYPE html>
<html>
    <head>
        <title>Mi tienda</title>
		<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    </head>
    <body>
        
    </body>
</html>
